src/main/app/lithium-connector-client-tomcat.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:Lithium="http://www.mulesoft.org/schema/mule/Lithium" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/Lithium http://www.mulesoft.org/schema/mule/Lithium/1.0.0/mule-Lithium.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/current/mule-ajax.xsd">
    <Lithium:config name="Lithium" lithiumPassword="arfarf" lithiumUserName="admin" doc:name="Lithium">
        <Lithium:connection-pooling-profile initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW"/>
    </Lithium:config>
    <http:endpoint exchange-pattern="request-response" host="localhost" port="8081" path="lithium" method="POST" name="HTTP" doc:name="HTTP"/>
    <byte-array-to-object-transformer name="Byte_Array_to_Object" doc:name="Byte Array to Object"/>
    <byte-array-to-string-transformer name="Byte_Array_to_String" doc:name="Byte Array to String"/>
    <http:body-to-parameter-map-transformer name="Body_to_Parameter_Map" doc:name="Body to Parameter Map"/>
    <flow name="lithium-connector-main" doc:name="lithium-connector-main">
        <http:inbound-endpoint exchange-pattern="request-response"  doc:name="HTTP"  ref="HTTP" transformer-refs="Body_to_Parameter_Map" responseTransformer-refs="Byte_Array_to_String"/>
        <custom-transformer class="com.lithium.integrations.HttpVariablesTx" doc:name="Tranform Variables"/>
        <Lithium:post-blog-message config-ref="Lithium" doc:name="Post Blog" boardIdOrBlogName="#[message.payload.boardname]" labels="#[message.payload.labels]" messageBody="#[message.payload.messageBody]" messageIsDraft="#[message.payload.messageIsDraft]" messageSubject="#[message.payload.messageSubject]" messageTeaser="#[message.payload.messageTeaser]" tagAdd="#[message.payload.tagAdd]"/>
        <processor-chain doc:name="Processor Chain">
            <Lithium:get-recent-topics config-ref="Lithium" doc:name="Get Recent Topics List" boardIdOrBlogName="#[app.registry.boardname]"/>
            <custom-transformer class="com.lithium.integrations.XmlToVaribalesTx" doc:name="Java"/>
            <Lithium:get-topic-message config-ref="Lithium" doc:name="Get Topic Message"/>
            <all doc:name="All">
                <processor-chain>
                    <Lithium:get-author config-ref="Lithium" doc:name="Get Author"/>
                    <object-to-string-transformer doc:name="Object to String"/>
                </processor-chain>
                <processor-chain>
                    <Lithium:get-author-avatar config-ref="Lithium" doc:name="Get Avatar"/>
                    <object-to-string-transformer doc:name="Object to String"/>
                </processor-chain>
            </all>
        </processor-chain>
        <splitter expression="#[message.payload]" doc:name="Splitter"/>
    </flow>
</mule>
