src/main/app/lithium-connector-client-tomcat.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:servlet="http://www.mulesoft.org/schema/mule/servlet" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:Lithium="http://www.mulesoft.org/schema/mule/Lithium" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/Lithium http://www.mulesoft.org/schema/mule/Lithium/1.0.0/mule-Lithium.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/current/mule-ajax.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/servlet http://www.mulesoft.org/schema/mule/servlet/current/mule-servlet.xsd">
    <!-- <Lithium:config name="Lithium" lithiumPassword="${lithium.password}" lithiumUserName="${lithium.username}"  communityName = "${community.name}" doc:name="Lithium" communityHostname="${community.hostname}" >-->
    <Lithium:config name="Lithium" lithiumPassword="arfarf" lithiumUserName="admin"   doc:name="Lithium" >
        <Lithium:connection-pooling-profile initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW"/>
    </Lithium:config>
    <!-- <http:endpoint exchange-pattern="request-response" host="localhost" port="${port}" path="lithium" method="POST" name="HTTP" doc:name="HTTP"/> -->
    <byte-array-to-object-transformer name="Byte_Array_to_Object" doc:name="Byte Array to Object"/>
    <byte-array-to-string-transformer name="Byte_Array_to_String" doc:name="Byte Array to String"/>
    <http:body-to-parameter-map-transformer name="Body_to_Parameter_Map" doc:name="Body to Parameter Map"/>
    <object-to-string-transformer name="Object_to_String" doc:name="Object to String"/>
    <http:endpoint exchange-pattern="request-response" host="localhost" port="8081" path="lithium" method="POST" name="HTTP" doc:name="HTTP"/>
    <string-to-byte-array-transformer name="String_to_Byte_Array" doc:name="String to Byte Array"/>    
    <ajax:connector name="ajaxServer" serverUrl="http://0.0.0.0:8090/services/result" resourceBase="${app.home}/docroot"  doc:name="Ajax"/>
    <flow name="lithium-connector-main" doc:name="lithium-connector-main" initialState="started" processingStrategy="synchronous">
        <http:inbound-endpoint exchange-pattern="one-way"  ref="HTTP" doc:name="HTTP 8081/lithium"  transformer-refs="Body_to_Parameter_Map" contentType="text/html"/>
        <custom-transformer class="com.lithium.integrations.transformations.HttpVariablesTx" doc:name="HTTP to Map"/>
            <Lithium:post-blog-message config-ref="Lithium" boardIdOrBlogName="#[message.payload.boardname]" labels="#[message.payload.labels]" messageBody="#[message.payload.messageBody]" messageIsDraft="#[message.payload.messageIsDraft]" messageSubject="#[message.payload.messageSubject]" messageTeaser="#[message.payload.messageTeaser]" tagAdd="#[message.payload.tagAdd]" doc:name="Post Blog Message"/>
        <processor-chain doc:name="Processor Chain: Get Operations">
            <Lithium:get-recent-topics config-ref="Lithium" boardIdOrBlogName="#[app.registry.boardname]" doc:name="Get List of Recent Topics"/>
            <custom-transformer class="com.lithium.integrations.transformations.PrepareMessageIdCollection" doc:name="Collection of Message Id"/>
            <foreach doc:name="For Each: Iterate Over Message Id">
                <Lithium:get-topic-message config-ref="Lithium" messageId="#[message.payload]" doc:name="Get a Topic Message"/>
                <custom-transformer class="com.lithium.integrations.transformations.PrepareUserId" doc:name="Read User Id"/>
                <all doc:name="All">
                    <Lithium:get-author config-ref="Lithium" userId="#[message.payload]" doc:name="Get Author Profile"/>
                    <Lithium:get-author-avatar config-ref="Lithium" userId="#[message.payload]" doc:name="Get Author Avatar"/>
                </all>
                <component class="com.lithium.integrations.transformations.CombineDataFromCallsTxHtml" doc:name="Combine Author &amp; Avatar To HTML"/>
                <ajax:outbound-endpoint channel="/result" doc:name="Ajax"/>
            </foreach>
        </processor-chain>
    </flow>
</mule>
